@import "../../_base/typography";
@import "../../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.company-culture {
    background-color: #aebccc;
    border-radius: 60px;
    margin: 60px 2.5%;
    width: 95%;
    padding: 120px 0;

    @include media-breakpoint-down(xl) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 72px 0;
        border-radius: 30px;
    }

    @include media-breakpoint-down(lg) {
        overflow: hidden;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 64px;

        @include media-breakpoint-down(xl) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 0;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include media-breakpoint-down(xl) {
            justify-content: center;
            align-items: center;
        }

        h2 {
            font-size: 82px;
            margin-bottom: 70px;
            color: $black;
            max-width: 420px;
            line-height: 1;

            @include media-breakpoint-down(xl) {
                font-size: 62px;
                max-width: 320px;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        p {
            font-family: $font-family--secondary;
            margin-bottom: 90px;
            @include media-breakpoint-down(xl) {
                text-align: center;
                margin-bottom: 80px;
            }
        }

        button {
            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }

    &__button {
        display: none;

        @include media-breakpoint-down(xl) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 52px;
        }
    }

    &__boxes {
        width: 100%;

        @include media-breakpoint-up(lg) {
            flex: 0 0 30%;
        }

        > div {
            @include media-breakpoint-down(lg) {
                overflow: visible;
            }
            .swiper-wrapper {
                @include media-breakpoint-up(lg) {
                    gap: 42px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .swiper-slide {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    &__item {
        background-color: $white;
        border-radius: 32px;
        flex: 0 0 calc(50% - 42px);
        padding: 40px 86px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include media-breakpoint-down(lg) {
            padding: 40px 46px;
        }

        > div {
            border-radius: 100px;
            background-color: $light-green;
            height: 130px;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
        }
    }
}



