@import "../../_base/typography";
@import "../../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.team {
    h2 {
        font-size: 82px;
        margin-bottom: 40px;
        color: $black;
        line-height: 1;
        text-align: center;

        @include media-breakpoint-down(lg) {
            font-size: 42px;
            margin-bottom: 20px;
        }
    }

    &__members {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }
}
