@import "../../_base/typography";
@import "../../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.team {
    h2 {
        margin-bottom: 70px;
        @include font-size($font-xxxx-large);
        color: $black;
        line-height: 1;
        text-align: center;
        
        
        @include media-breakpoint-down(lg) {
            display: block;
            margin-bottom: 30px;

        }

        @include media-breakpoint-down(sm) {
            text-align: left;
        }
    }


    &__members {
        display: flex;
        gap: 16px;

        @include media-breakpoint-down(lg) {
            flex-direction: row;
        }

        @include media-breakpoint-down(sm) {
            margin-top: 0px;
            flex-direction: column;
        }
    }
}
