@import "../../_base/typography";
@import "../../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";



.testimonials {
    background-color: #aebccc;
    border-radius: 60px;
    margin: 60px 2.5%;
    width: 95%;
    padding: 60px 0;

    @include media-breakpoint-down(xl) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 72px 0;
        border-radius: 30px;
    }

    h2 {
        font-size: 82px;
        margin-bottom: 70px;
        color: $black;
        line-height: 1;
        text-align: center;

        @include media-breakpoint-down(lg) {
            font-size: 42px;
            margin-bottom: 20px;
        }
    }

    &__item {
        background-color: $white;
        border-radius: 32px;
        padding: 24px 16px 24px;

        svg {
            width: 18px;
            height: 18px;
            color: $black;
            margin-bottom: 18px;
        }

        h5 {
            @include font-size($font-large);
            margin-bottom: 8px;
        }

        p {
            @include font-size($font-regular);
            font-weight: $font-weight--regular;
            margin-bottom: 0;
            font-family: $font-family--secondary;
        }
    }

    &__author {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-top: 24px;

        img {
            width: 58px;
            height: 58px;
            border-radius: 100px;
            object-fit: cover;
            object-position: center;
        }

        h6 {
            @include font-size($font-big);
            margin-bottom: 0px;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        position: absolute;
        left: 0;
    }

    &__swiper-container {
        position: relative;
        display: flex;
        align-items: center;

        @include media-breakpoint-down (lg) {
            padding: 0 30px;
        }
        .swiper-button-prev {
            left: -40px;
            right: auto;

            @include media-breakpoint-down (lg) {
                left: -10px;
            }

            &:after {
                content: "";
                transform: rotate(180deg);
                background-repeat: no-repeat;
                background-image: url('data:image/svg+xml, <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.99 115.67" ><defs><style> .cls-1 { fill: none; stroke: currentColor; /* Inherits the color from the parent */ stroke-linecap: round; stroke-linejoin: round; stroke-width: 19px; } </style></defs><path class="cls-1" d="m9.5,9.5l49.65,34.32c9.8,6.77,9.8,21.25,0,28.02L9.5,106.17" /></svg>');
                height: 16px;
                width: 16px;
                display: inline;
            }
        }

        .swiper-button-next {
            right: -40px;
            left: auto;

            @include media-breakpoint-down (lg) {
                right: -10px;
            }

            &:after {
                content: "";
                background-repeat: no-repeat;
                background-image: url('data:image/svg+xml, <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.99 115.67" ><defs><style> .cls-1 { fill: none; stroke: currentColor; /* Inherits the color from the parent */ stroke-linecap: round; stroke-linejoin: round; stroke-width: 19px; } </style></defs><path class="cls-1" d="m9.5,9.5l49.65,34.32c9.8,6.77,9.8,21.25,0,28.02L9.5,106.17" /></svg>');
                height: 16px;
                width: 16px;
                display: inline;
            }
        }
    }
}
