@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.footer {
    background-color: $black;
    padding: 60px 0px 0px 0px;

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }

    >div {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        filter: invert(1);
        width: 350px;
        height: 100px;
        margin-bottom: 25px;
        object-fit: contain;

        @include media-breakpoint-down(lg) {
            margin-bottom: 0;
        }



    }

    &__subscribe {
        width: 350px;
        font-size: 19px;
        color: $white;
        font-weight: $font-weight--regular;
        margin-left: 5px;
        margin-bottom: 25px;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__input-email {
        display: flex;
        align-items: center;
        border-radius: 50px;
        padding: 5px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        gap: 10px;
        width: 350px;

        @include media-breakpoint-down(lg) {
            display: none;
        }


        .form-control {
            border: none;

            padding: 10px 20px;
            border-radius: 50px 0 0 50px;
            outline: none;
            max-width: 190px;

            &::placeholder {
                color: #888;
                font-size: 14px;
                font-family: $font-family--secondary;
            }


        }

        .btn {
            display: flex;
            align-items: center;
            background-color: $black;
            color: $white;
            border: none;
            padding: 8px 20px;
            border-radius: 50px 50px;
            cursor: pointer;
            outline: none;
        }

        .btn span {
            right: -35px;
            background-color: #baeea1;

        }

        .btn img {
            width: 15px;
            /* Ajusta o tamanho da imagem do ícone */
            height: 15px;
        }
    }

    &__maps {

        @include media-breakpoint-down(lg) {
            display: none;
        }

        h4 {
            color: $white;
            font-size: 19px;


        }

        ul a {
            list-style: none;
            font-family: $font-family--secondary;
            font-weight: $font-weight--medium;
            color: $steel;
            padding: 0;
            margin: 0;
            text-decoration: none;

        }

        ul{
            list-style: none;
            padding-left: 0px;
        }

    }




    &__services {
        margin-right: 6rem;

        @include media-breakpoint-down(lg) {
            display: none;
        }

        @include media-breakpoint-down(xl) {
            margin-right: 0;
        }

        h4 {
            color: $white;
            font-size: 19px;
        }

        ul{
            list-style: none;
            font-family: $font-family--secondary;
            font-weight: $font-weight--medium;
            padding: 0;
        }

        a{
            
            color: $steel;
            margin: 0;
            text-decoration: none;

        }
    }


    &__contacts {

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0;

        }

        h4 {
            color: $white;
            font-size: 19px;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        ul {
            list-style: none;
            font-family: $font-family--secondary;
            font-weight: $font-weight--medium;
            color: $steel;
            padding: 0;
            margin: 0;
            text-decoration: none;

            li {
                margin-bottom: 0px;

                @include media-breakpoint-down(lg) {
                    text-align: center;
                }
            }

        }


        button {
            margin-top: 50px;
            background-color: $white;
            color: $black;

            display: flex;
            align-items: center;


            padding: 8px 20px;
            border-radius: 50px 50px;
            cursor: pointer;
            outline: none;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        .btn span {
            right: -35px;
            background-color: #baeea1;

        }


    }


    &__rights {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        border-top: 1px solid $steel;
        padding: 15px 0px 0px 0px;

        @include media-breakpoint-down(lg) {
            justify-content: center;
            border-top: none;
        }



        p {
            font-family: $font-family--secondary;
            font-weight: $font-weight--medium;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        ul {
            display: flex;
            list-style: none;
            margin-bottom: 0px;
            padding: 0;
            gap: 10px;
        }
    }




}