@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@keyframes cascadeIn {
    from {
        opacity: 0;
        transform: translateX(-100px); // Inicia a animação da esquerda fora da tela
    }

    to {
        opacity: 1;
        transform: translateX(0); // Move para a posição original
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 2;
    position: fixed;



    @include media-breakpoint-down(lg) {
        align-items: flex-end;
        padding: 34px 15px;

    }

    &--not-home {
        position: relative;

        .btn-primary span {
            background-color: $light-green;
        }
    }

    img {
        width: 135px;
        height: auto;
        object-fit: contain;
        max-width: 100%; 
        height: auto;    
        
        @include media-breakpoint-down(lg) {
            height: 36px;
            width: auto;
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 30px;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            list-style: none;
            align-items: flex-start;
        }
    }

    &__items {

        @include media-breakpoint-down(lg) {}
    }

    &__item {
        padding: 6px 24px;
        border-radius: 100px;
        text-transform: uppercase;
        @include font-size($font-regular);
        color: $black;
        text-decoration: none;
        font-weight: $font-weight--regular;
   



        &--active {
            border: 1px solid $black;
        }

        @include media-breakpoint-down(lg) {
            color: $white;
            border: none;
            padding: 0px;
            border: none;
            @include font-size($font-xxx-large);

        }


    }

    &__contact {
        @include media-breakpoint-down(lg) {
            display: none;
            position: relative;
            bottom: 0px;
            background-color: $white;
            color: $black;
            @include font-size($font-big);
            margin-top: 30px;
            font-size: calc(1rem + 1vw);
            padding: 12px 30px;
            justify-content: center;

            span {
                position: initial;
                margin-left: 15px;
            }
        }



    }

    &__burguer {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 100px;
        border: 2px solid $black;
        height: 36px;
        width: 36px;

        @include media-breakpoint-down(lg) {
            display: flex;

        }

        &:hover,
        &:active {
            border: 2px solid $black;
        }

        &--open {
            z-index: 20;
            position: fixed;
            top: 35px;
            right: 20px;
            border: none;



            span {
                background-color: $white !important;
                height: 3px;
                width: 28px !important;

                &:nth-child(1) {
                    transform: translateY(7px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-9px) rotate(-45deg);
                }
            }
        }

        span {
            height: 3px;
            width: 18px;
            background-color: $black;
            border-radius: 100px;
            position: absolute;
            transition: all .4s ease-in-out;

            &:nth-child(1) {
                top: 7px;
            }

            &:nth-child(2) {
                top: 15px;
            }

            &:nth-child(3) {
                top: 23px;
            }
        }
    }

    .nav-menu__mobile {
        @include media-breakpoint-down(lg) {
          top: 20px;
          flex-direction: column;
          background-color: $black;
          border-radius: 10px;
          width: calc(100% - 30px);
          z-index: 2;
          margin: 0 15px;
          left: 0;
          justify-content: center;
          padding: 120px 30px;
          position: absolute;
          opacity: 0;
          transform: translateY(-20px); 
          visibility: hidden;
          transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s; 
      
          &--open {
            display: flex;
            opacity: 1;
            transform: translateY(0); 
            visibility: visible; 
            transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s;
          }
      
          &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: -1;
            transition: background 0.3s ease; 
          }
        }
      
        li {
          overflow: hidden;
      
          &:nth-child(1) a {
            animation-delay: 0.1s;
          }
      
          &:nth-child(2) a {
            animation-delay: 0.2s;
          }
      
          &:nth-child(3) a {
            animation-delay: 0.3s;
          }
      
          &:nth-child(4) a {
            animation-delay: 0.4s;
          }
      
          a {
            opacity: 0;
            transform: translateY(100px);
            animation: cascadeIn 0.9s ease forwards;
            display: block;
          }
        }
      }

@keyframes cascadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}}