@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.team-member {
    position: relative;
    border-radius: 26px;
    overflow: hidden;
    padding: 16px;
    flex: 0 0 calc(50% - 8px);
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
        min-height: 200px;
    }

    &:hover {
        img {
            filter: grayscale(0);
        }
    }

    a {
        position: absolute;
        right: 24px;
        top: 24px;

        svg {
            color: $white;
            height: 18px;
            width: 18px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all 0.2s linear;
        object-fit: cover;

        filter: grayscale(1);
    }

    h3 {
        @include font-size($font-large);
        color: $white;
        margin-bottom: 4px;
    }

    p {
        margin-bottom: 0;
        color: $light-green;
        @include font-size($font-big);
    }
}