@import "./_base/typography";
@import "./_base/variables";
@import "./_base/reset";
@import "bootstrap/scss/bootstrap";

body {
  font-family: $font-family--primary;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.accordion-enter-active,
.accordion-leave-active {
  transition: max-height 0.3s linear, opacity 0.3s ease;
  max-height: 300px;
  opacity: 1;
}
.accordion-enter-from,
.accordion-leave-to {
  max-height: 0;
  opacity: 0;
}

.btn {

  &-primary {
    border-radius: 100px;
    line-height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-family: $font-family--primary;

    span {
        position: absolute;
        right: -35px;
        height: 34px;
        width: 34px;
        border-radius: 100px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;

        svg {
          height: 12px;
          width: 12px;
        }
        
        img {
            height: 12px;
            width: 12px;
            object-fit: contain;
        }
    }
  }
}