@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.services-page {
    border: 1px solid $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__business {
        border: 1px solid $white;
        margin-top: 120px;
        background-color: $heritage;
        width: 95%;
        display: flex;
        padding: 50px 10px;
        border-radius: 30px;
        text-align: center;
        flex-direction: column;

        h1 {
            font-size: 82px;
            margin-bottom: 10px;
            color: $black;
            line-height: 1;
            text-align: center;

            @include media-breakpoint-down(lg) {
                font-size: 62px;
            }
        }

        p {
            font-family: $font-family--secondary;
            @include media-breakpoint-down(lg) {
                max-width: 450px;
                margin: 0 auto;
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px 0px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__card {
        border: 1px solid $white;
        display: flex;
        border-radius: 40px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 25%;
        gap: 20px;
        transition: all 0.2s linear;
        @include media-breakpoint-down(xl) {
            width: 48%;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }

        &:hover {
            background-color: $white;
            cursor: pointer;
            transition: all 0.2s linear;
        }
    }

    &__background {
        background-color: $light-green;
        width: 90px;
        height: 80px;
        border-radius: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 50%;
            width: 40%;
        }
    }

    &__information {
        width: 80%;
        display: flex;
        flex-direction: column;

        h4 {
            text-align: left;
        }

        p {
            text-align: left;
            margin-bottom: 0;
        }
    }
}
