//Responsive font size
@import "rfs/scss";

//Bootstrap enable responsive font-size
$enable-responsive-font-sizes: true;

$font-weight--extra-light   :   200;
$font-weight--light         :   300;
$font-weight--regular       :   400;
$font-weight--medium        :   500;
$font-weight--semibold      :   600;
$font-weight--bold          :   700;
$font-weight--extra-bold    :   800;
$font-weight--black         :   900;

// Font definitions.
$font-xxxx-large            :   72px;
$font-xxx-large             :   60px;
$font-xx-large              :   48px;
$font-x-large               :   40px;
$font-large                 :   38px;
$font-xxx-big               :   32px;
$font-xx-big                :   26px;
$font-x-big                 :   22px;
$font-big                   :   20px;
$font-medium                :   18px;
$font-regular               :   16px;
$font-small                 :   14px;
$font-x-small               :   12px;
$font-xx-small              :   11px;
$font-xxx-small             :   10px;
$font-xxxx-small            :   9px;

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/bebas-neue-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/bebas-neue-book.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
  


$font-family--primary: 'Bebas Neue';
$font-family--secondary: 'Avenir';