
$white-edgar: #ededed;
$light-black: #363636;
$noghrei-silver: #bdbdbd;
$black: #000;
$saffron: #f93;
$error: #ff0000;
$mandrake: #8885a2;
$unique-grey: #c9c9c9;
$starfleet-blue: #337ab7;
$mandrake: #8885A2;
$success: #179b0f;
$blue:  #0088ff;
$secondary: #312783;
$primary: $black;